@{
    ViewBag.Title = "<i class=\"fa-solid fa-house\"></i> Home";
    var btc = ViewBag.btc;
    var eth = ViewBag.eth;
}

@if (btc != null && eth != null)
{
    <div class="text-center">
        <h4>Prices Today:</h4>
        <small class="text-muted">@ViewBag.date</small>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="text-center table table-responsive" cellpadding="10">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td><i class="fa-brands fa-bitcoin text-warning"></i> @btc.name (@btc.symbol)</td>
                    <td class="text-success">@btc.market_data.current_price.usd <b>$</b></td>
                    <td><b>|</b></td>
                    <td class="text-success">@btc.market_data.current_price.eur <b>€</b></td>
                    <td><b>|</b></td>
                    <td class="text-success">@btc.market_data.current_price.gbp <b>£</b></td>
                </tr>
                <tr>
                    <td><i class="fa-brands fa-ethereum text-primary"></i> @eth.name (@eth.symbol)</td>
                    <td class="text-success">@eth.market_data.current_price.usd <b>$</b></td>
                    <td><b>|</b></td>
                    <td class="text-success">@eth.market_data.current_price.eur <b>€</b></td>
                    <td><b>|</b></td>
                    <td class="text-success">@eth.market_data.current_price.gbp <b>£</b></td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    <p class="text-center">Error getting prices from CoinGecko API.</p>
}


<main>
    <section class="row text-center text-warning" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to CryptoFinder!</h1>
        <p class="lead">Every crypto noobie and diamond hands favorite place.</p>
        <p><a href="/" class="btn btn-primary btn-outline-dark text-bg-warning">Simulate</a></p>
    </section>


    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Stable Coins</h2>
            <p>
                A stablecoin is a digital asset that remains stable in value against
                a pegged external traditional asset class. Stablecoin reduces price
                volatility by backing its value against a conventional asset. The backing
                asset could be a combination of currencies, a single fiat currency, or other valuable assets.
            </p>
            <p><a class="btn btn-outline-warning" href="https://www.investopedia.com/terms/s/stablecoin.asp" target="_blank">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Meme Coins</h2>
            <p>
                Meme coins are a cryptocurrency genre loosely defined as having an exuberant online
                community supporting the currency's growth. They are sometimes identified with animated
                characters or animal meme images. Some of the top currencies to gain meme coin status
                included Dogecoin and Shiba Inu.
            </p>
            <p><a class="btn btn-outline-warning" href="https://www.investopedia.com/meme-coin-6750312" target="_blank">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Alt Coins</h2>
            <p>
                An Altcoin is an alternative digital currency to Bitcoin. The word Altcoin is a portmanteau
                of "alternative" and "coin", to form "altcoin". It actually refers to a group of cryptocurrencies,
                ultimately all the cryptocurrencies other than Bitcoin.
            </p>
            <p><a class="btn btn-outline-warning" href="https://www.investopedia.com/terms/a/altcoin.asp" target="_blank">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
