@model IEnumerable<CryptoExchange.PoolsNew>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pool_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staked_amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pool_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staked_amount)
            </td>
            <td>
                @if (item.email == HttpContext.Current.User.Identity.Name)
                {
                    <p>@Html.ActionLink("Edit", "Edit", new { id = item.id }) | </p>
                    <p>@Html.ActionLink("Delete", "Delete", new { id = item.id }) | </p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.id })</p>
                }

            </td>
        </tr>
    }

</table>
